/tmp
/dist
node_modules/

*.tsbuildinfo
*.log
*-report.json
*.run.json
tslint.json

.vs
.vscode
.idea
.project
.env
.npm
package-lock.json
.eslintcache
.cache
.grunt

.DS_Store
thumbs.db

sessions
workspace.xml

*.tgz


